.bimviz_gradbackground {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3499FF,#C7E3FF); /* Standard syntax */
}

.bimviz_singlebackground {
    background: white; /* For browsers that do not support gradients */
}

.bimviz_singlebackgroundblack {
    background: black; /* For browsers that do not support gradients */
}
